* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

main {
    width:100svw;
    height:100svh;
}

#slider {
    width:100svw;
    height:200svh;
}

#sliderTop {
    width:100svw;
    height:100svh;
    background: green;
}

#sliderBottom {
    width: 100svw;
    height:100svh;
    background: blue;
}